/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 oct. 2022, 14:08:03
    Author     : usuario
*/


* {
    background-color: whitesmoke;
    font-family: sans-serif;
}