<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>PLANTILLA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       </br>
       </br>
       
       
       <a th:href="@{/nuevoPais}">Nuevo Pais</a>
       <br/>
       <br/>
        <div th:if="${paises != null and !paises.empty}">
       <table border="1">
           <thead>
               <tr>
                   <th>Pais</th>
                   <th>Capital</th>
                   <th>Estado</th>
                   <th>Poblacion</th>
                   <th>Presidente</th>
                   
                   
                   <th>Modificar</th>
                   <th>Eliminar</th>
               </tr>
           </thead>
           <tbody>
               <tr th:each="item : ${paises}" >
                   <td th:text="${item.pais}"></td>
                   <td th:text="${item.capital}"></td>
                   <td th:text="${item.estado}"></td>
                   <td th:text="${item.poblacion}"></td>
                   <td th:text="${item.presidente}"></td>
                   
                   <td> <a th:href="@{/modificarPais/} +  ${item.idPais}">Modificar</a></td>
                   <td> <a th:href="@{/eliminarPais/} +  ${item.idPais}">Eliminar</a></td>
               </tr>
           </tbody>
       </table>
    </div>
       <div th:if="${paises = null or paises.empty}">
           La lista de paises esta vacia
       </div>
    </body>
</html>

